# Lock files
composer.lock
symfony.lock

# Symfony runtime files
/config/secrets/prod/prod.decrypt.private.php
/config/secrets/**/
/config/*.local.php
/config/*.local.yaml
/config/secrets/

# Cache, sessions files and logs
/var/
/var/cache/*
/var/log/*
/var/sessions/*
!var/cache/.gitkeep
!var/log/.gitkeep
!var/sessions/.gitkeep

# Parameters
/config/parameters.yml
/config/*.local.yml

# Managed by Composer
/vendor/
/vendor/**/

# PHPUnit
/phpunit.xml
.phpunit.result.cache
/phpunit.xml.dist

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# Logs
*.log

# System Files
.DS_Store
Thumbs.db

codebase.md 
.aigitignore